<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Latest compiled and minified CSS -->
<!-- Latest compiled and minified CSS -->
<style type="text/css">
	.jumbotron{
		background-color:blue !important;
		height:"300px";
	}
	#title {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
	text-align:center;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
	}
	.center-text{
		text-align:center;
	}
</style>
<!-- Fancy CSS Font -->
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="style.css" /> -->
<title>Starbucks | eCommerce site</title>
</head>
<body>
	<!-- <p> <?php  print_r($_COOKIE["visitCount"][0]) ?> hhshah</p> -->
  <br/>
  <div class="row text-center">
    <img src="" class="img-circle" alt="Cinque Terre" width="200" height="200">
  </div>
  <br/>
	<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-md-offset-3"></div>
  		  <a class="navbar-brand" href="/"><h4>Home</h4></a>
  		  <a class="navbar-brand" href="#"><h4>Products</h4></a>
      </div>
    </div>
    </div>
      <div class="row">
      </div>
        <!-- <div class="col-md-8">
          <h2 style="color:green;margin-left:2px">Click on a product to vist its page</h2><br> -->
          <!-- <script type="text/javascript" >
            function linkClick(event)
            {
              //if cookie exists
            if(document.cookie.indexOf("mostVisited=") >= 0){
              document.cookie = "mostVisited[visitCount%5]=event.target.href; expires=Thu, 18 Dec 2018 12:00:00 UTC";
              visitCount++;
              //location = 'http://localhost/nproject/index.php?c=files&a=index&active_project=2&1369320566';
              //var video = document.getElementById("mylink").value;
              console.log(event.target.href);
            }
          };
</script> -->
        <form action="/orders" method="post">
        	<div class="row">
						{{!-- <h1>{{productsData.HELLO}}</h1> --}}
						<div class="col-md-4">
	        		<div class="center-text">
							 <div>
	        				<a class="product" name="product_image" href={{productData.image_url}}><img src="{{productData.image_url}}" width="300" height="300"></a>
	        				<h3>{{ productData.name }}</h3>
									<h3>{{ productData.description }}</h3>
									<h3>{{ productData.price }}</h3>
									<input type="hidden" name="product_id" value="{{productData._id}}">
									<input type="hidden" name="product_name" value="{{productData.name}}">
									<input type="hidden" name="product_description" value="{{productData.description}}">
									<input type="hidden" name="product_image" value="{{productData.image_url}}">
									<input type="hidden" name="product_price" value="{{productData.price}}">
									<input type="hidden" name="product_count" value="{{productData.count}}">
	        		</div>
	        	</div>
					</div>
					<button class="btn btn-success">Order</button>
        </form>
</body>
</html>
