<div class="form-group">
	<div class="row">
		<div class="col-md-2 col-sm-12">
			<b><h3>{{product}}</h3></b>
			<p class="text-muted">{{description}}</p>
			<label> Price: ${{price}} </label>
			<br/>
			<button type="button" class="btn btn-success btn-lg"  onclick="location.href='/pay?id={{orderId}}'">&nbsp;&nbsp;&nbsp;Pay Now&nbsp;&nbsp;</button>
		</div>
		<div class="col-md-2 col-sm-12" align="center">
			<a href="#order"> <img src={{imageUrl}} width="400" /></a>
		</div>

	</div>
</div>
