<div class="row">
    <div class="col-md-4">
      <div class="center-text">
        <a class="product" name="Chair" href="#"><img src={{imageUrl}} width="300" height="300"></a><br/>
      </div>
    </div>
    <div class="center-text">
      <h3>{{ product }}</h3>
      <h3>{{description}}</h3>
      <h3>Price:  ${{price}}</h3>
      <br/>
      <button type="button" class="btn btn-success btn-lg"  onclick="location.href='/pay?id={{orderId}}'">&nbsp;&nbsp;&nbsp;Pay Now&nbsp;&nbsp;
      </button>
    </div>
</div>